<div class="col-sm-3 api_nav">
  <ul class="au-link-list">
    <li>
      <p><a href="{{ '/' |relative_url }}">Overview</a></p>
    </li>
    <li>
      <p><a href="{{ '/sections/getting-started.html' |relative_url }}">Getting Started</a></p>
    </li>
    <li><a href="{{ '/sections/getting-started.html#what-is-this-design-standard' |relative_url }}">What is this
        design standard?</a></li>
    <li><a href="{{ '/sections/getting-started.html#how-to-apply-the-design-standard' |relative_url }}">How to apply
        the design standard</a></li>
    <li><a href="{{ '/sections/getting-started.html#the-choice-behind-rest' |relative_url }}">The choice behind
        REST</a></li>
    <li><a href="{{ '/sections/getting-started.html#sample-openapi-definition' |relative_url }}">Sample OpenAPI
        Definition</a></li>
    <li>
      <p><a href="{{ '/sections/definitions.html' |relative_url }}">Definitions</a></p>
    </li>
    <li><a href="{{ '/sections/definitions.html#api' |relative_url }}">API</a></li>
    <li><a href="{{ '/sections/definitions.html#resource' |relative_url }}">Resource</a></li>
    <li><a href="{{ '/sections/definitions.html#resource-identifier' |relative_url }}">Resource Identifier</a></li>
    <li><a href="{{ '/sections/definitions.html#representation' |relative_url }}">Representation</a></li>
    <li><a href="{{ '/sections/definitions.html#namespace' |relative_url }}">Namespace</a></li>
    <li><a href="{{ '/sections/definitions.html#operation' |relative_url }}">Operation</a></li>
    <li>
      <p><a href="{{ '/sections/wog-api-requirements.html' |relative_url }}">WoG API Requirements</a></p>
    </li>
    <li><a href="{{ '/sections/wog-api-requirements.html#api-documentation' |relative_url }}">API Documentation</a>
    </li>
    <li><a href="{{ '/sections/wog-api-requirements.html#api-development' |relative_url }}">API Development</a></li>
    <li><a
        href="{{ '/sections/wog-api-requirements.html#api-developer-experience-&amp;-ease-of-use' |relative_url }}">API
        Developer Experience &amp; Ease of Use</a></li>
    <li><a href="{{ '/sections/wog-api-requirements.html#api-stability' |relative_url }}">API Stability</a></li>
    <li><a href="{{ '/sections/wog-api-requirements.html#api-design-maturity' |relative_url }}">API Design
        Maturity</a></li>
    <li>
      <p><a href="{{ '/sections/naming-conventions.html' |relative_url }}">Naming Conventions</a></p>
    </li>
    <li><a href="{{ '/sections/naming-conventions.html#message-format' |relative_url }}">Message Format</a></li>
    <li><a href="{{ '/sections/naming-conventions.html#uri-component-names' |relative_url }}">URI Component Names</a>
    </li>
    <li><a href="{{ '/sections/naming-conventions.html#field-names' |relative_url }}">Field Names</a></li>
    <li><a href="{{ '/sections/naming-conventions.html#link-relation-names' |relative_url }}">Link Relation Names</a>
    </li>
    <li><a href="{{ '/sections/naming-conventions.html#request-headers' |relative_url }}">Request Headers</a></li>
    <li><a href="{{ '/sections/naming-conventions.html#managing-dates' |relative_url }}">Managing Dates</a></li>
    <li><a href="{{ '/sections/naming-conventions.html#examples' |relative_url }}">Examples</a></li>
    <li>
      <p><a href="{{ '/sections/api-versioning.html' |relative_url }}">API Versioning</a></p>
    </li>
    <li><a href="{{ '/sections/api-versioning.html#versioning-scheme' |relative_url }}">Versioning Scheme</a></li>
    <li><a href="{{ '/sections/api-versioning.html#major-version' |relative_url }}">Major Version</a></li>
    <li><a href="{{ '/sections/api-versioning.html#minor-version' |relative_url }}">Minor Version</a></li>
    <li><a href="{{ '/sections/api-versioning.html#minor-and-patch-documentation' |relative_url }}">Minor and Patch
        Documentation</a></li>
    <li><a href="{{ '/sections/api-versioning.html#backwards-compatibility' |relative_url }}">Backwards
        Compatibility</a></li>
    <li><a href="{{ '/sections/api-versioning.html#end-of-life-policy' |relative_url }}">End of Life Policy</a></li>
    <li><a href="{{ '/sections/api-versioning.html#api-deprecation' |relative_url }}">API Deprecation</a></li>
    <li>
      <p><a href="{{ '/sections/api-request.html' |relative_url }}">API Request</a></p>
    </li>
    <li><a href="{{ '/sections/api-request.html#request-headers' |relative_url }}">Request Headers</a></li>
    <li><a href="{{ '/sections/api-request.html#http-request-methods' |relative_url }}">HTTP Request Methods</a></li>
    <li><a href="{{ '/sections/api-request.html#request-payload-formats' |relative_url }}">Request Payload Formats</a>
    </li>
    <li><a href="{{ '/sections/api-request.html#idempotency' |relative_url }}">Idempotency</a></li>
    <li>
      <p><a href="{{ '/sections/query-parameters.html' |relative_url }}">Query Parameters</a></p>
    </li>
    <li><a href="{{ '/sections/query-parameters.html#pagination' |relative_url }}">Pagination</a></li>
    <li><a href="{{ '/sections/query-parameters.html#filtering-and-sorting' |relative_url }}">Filtering and
        Sorting</a></li>
    <li>
      <p><a href="{{ '/sections/api-response.html' |relative_url }}">API Response</a></p>
    </li>
    <li><a href="{{ '/sections/api-response.html#response-headers' |relative_url }}">Response Headers</a></li>
    <li><a href="{{ '/sections/api-response.html#http-response-codes' |relative_url }}">HTTP Response Codes</a></li>
    <li><a href="{{ '/sections/api-response.html#response-payload' |relative_url }}">Response Payload</a></li>
    <li>
      <p><a href="{{ '/sections/error-handling.html' |relative_url }}">Error Handling</a></p>
    </li>
    <li><a href="{{ '/sections/error-handling.html#error-response-payload' |relative_url }}">Error Response
        Payload</a></li>
    <li><a href="{{ '/sections/error-handling.html#input-validation' |relative_url }}">Input Validation</a></li>
    <li><a href="{{ '/sections/error-handling.html#error-samples' |relative_url }}">Error Samples</a></li>
    <li>
      <p><a href="{{ '/sections/api-security.html' |relative_url }}">API Security</a></p>
    </li>
    <li><a href="{{ '/sections/api-security.html#api-design' |relative_url }}">API Design</a></li>
    <li><a href="{{ '/sections/api-security.html#transport-security' |relative_url }}">Transport Security</a></li>
    <li><a href="{{ '/sections/api-security.html#authentication-and-authorization' |relative_url }}">Authentication
        and Authorization</a></li>
    <li><a href="{{ '/sections/api-security.html#abstraction' |relative_url }}">Abstraction</a></li>
    <li><a href="{{ '/sections/api-security.html#rate-limiting' |relative_url }}">Rate Limiting</a></li>
    <li><a href="{{ '/sections/api-security.html#error-handling' |relative_url }}">Error Handling</a></li>
    <li><a href="{{ '/sections/api-security.html#audit-logs' |relative_url }}">Audit Logs</a></li>
    <li><a href="{{ '/sections/api-security.html#input-validation' |relative_url }}">Input Validation</a></li>
    <li><a href="{{ '/sections/api-security.html#content-type-validation' |relative_url }}">Content Type
        Validation</a></li>
    <li><a href="{{ '/sections/api-security.html#gateway-security-features' |relative_url }}">Gateway Security
        Features</a></li>
    <li><a href="{{ '/sections/api-security.html#protective-marking' |relative_url }}">Protective Marking</a></li>
    <li>
      <p><a href="{{ '/sections/hypermedia.html' |relative_url }}">Hypermedia</a></p>
    </li>
    <li><a href="{{ '/sections/hypermedia.html#hypermedia---linked-data' |relative_url }}">Hypermedia - Linked
        Data</a></li>
    <li><a href="{{ '/sections/hypermedia.html#hateoas' |relative_url }}">HATEOAS</a></li>
    <li><a href="{{ '/sections/hypermedia.html#hypermedia-compliant-api' |relative_url }}">Hypermedia Compliant
        API</a></li>
    <li><a href="{{ '/sections/hypermedia.html#link-description-object' |relative_url }}">Link Description Object</a>
    </li>
    <li><a href="{{ '/sections/hypermedia.html#link-relation-type' |relative_url }}">Link Relation Type</a></li>
    <li>
      <p><a href="{{ '/sections/pagination.html' |relative_url }}">Pagination</a></p>
    </li>
    <li><a href="{{ '/sections/pagination.html#query-parameters' |relative_url }}">Query Parameters</a></li>
    <li><a href="{{ '/sections/pagination.html#pagination-response' |relative_url }}">Pagination Response</a></li>
    <li><a href="{{ '/sections/pagination.html#out-of-range' |relative_url }}">Out of Range</a></li>
    <li>
      <p><a href="{{ '/sections/networking.html' |relative_url }}">Networking</a></p>
    </li>
    <li><a href="{{ '/sections/networking.html#caching' |relative_url }}">Caching</a></li>
    <li>
      <p><a href="{{ '/sections/webhooks.html' |relative_url }}">Webhooks</a></p>
    </li>
    <li><a href="{{ '/sections/webhooks.html#current-guidance' |relative_url }}">Current Guidance</a></li>
    <li>
      <p><a href="{{ '/sections/testing.html' |relative_url }}">Testing</a></p>
    </li>
    <li><a href="{{ '/sections/testing.html#testing-tools' |relative_url }}">Testing Tools</a></li>
    <li>
      <p><a href="{{ '/sections/footer.html' |relative_url }}">References</a></p>
    </li>
    <li><a href="{{ '/sections/footer.html#api-standards-referenced' |relative_url }}">API STANDARDS REFERENCED</a>
    </li>
  </ul>
</div>