/* Start - Taken from common.css */
.used_synonyms p {
    margin-bottom: 0;
}

.used_synonyms {
    padding-bottom: 20px;
}

.search_help {
    width: 140px;
}

dl dl {
    margin-left: 30px;
}

.hero_header .hero_logo {
    display: block;
    max-width: 12rem;
}

.hero_header {
    background-color: #313131 !important;
    color: white;
    position: relative;
    padding-bottom: 100px !important;
}

.hero_header a {
    text-decoration: none;
    color: white !important;
}

.hero_header h1 {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 2.5rem !important;
    clear: both;
    float: left;
}

.hero_header .au-header__subline {
    font-size: 1.2rem;
    color: #CCC;
    margin-top: 14px;
}

.hero_header .au-main-nav {
    background: #313131;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.hero_header .au-main-nav a {
    color: #45C2F0 !important;
}

.hero_header .au-main-nav a:hover, .au-main-nav .au-main-nav__toggle:hover {
    background: #212121;
    color: white !important;
    text-decoration-color: white !important;
}

.hero_header .au-main-nav .active a {
    border-bottom: 8px solid #313131;
    border-bottom: 0.5rem solid #313131;
    margin-bottom: -8px;
    margin-bottom: -0.5rem;
    font-weight: normal;
}

.hero_header .au-main-nav {
    border-bottom: 8px solid #45C2F0;
    border-bottom: 0.5rem solid #45C2F0;
    margin-bottom: -8px;
    margin-bottom: -0.5rem;
    font-weight: normal;
}

.hero_header .au-main-nav .githubLink {
    float: right;
}

.main_header .hero_logo {
    border-right: 1px solid;
    padding-right: 15px;
    float: left;
    margin-right: 20px;
}

.hero_header .au-main-nav .divider {
    width: 2px !important;
    height: 50px;
    position: relative;
    top: 7px;
    background: #45C2F0;
    margin-left: 20px;
}

.badge {
    /*background-color: white;*/
    border-radius: 15px;
    border: 2px solid white;
    padding: 0.6em 1em;
    /*margin-left: -2px;*/
    position: relative;
    top: -13px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 8px;
}

nav.uikit-breadcrumbs {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .table_definition {
        width: 50%;
    }

    .main_search_bar {
        max-width: 85%;
        width: 100%;
    }

    .main_search_button {
        /*+border-radius: 0;*/
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        padding: 8px;
        padding-top: 7.5px;
        margin-left: -5px;
    }

    .search_help {
        padding-top: 100px;
        padding-bottom: 25px;
    }

    .hero_header h1 {
        display: inline;
        padding-left: 10px !important;
        padding-bottom: 10px;
        font-size: xx-large;
    }

    .au-main-nav .au-link-list > li {
        display: block;
        float: left;
        border: none;
    }

    .au-main-nav a, .au-main-nav .au-main-nav__toggle {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        padding: 16px;
        padding: 1rem;
    }

    .au-main-nav .active a {
        border-bottom: 8px solid #FFF;
        border-bottom: 0.5rem solid #FFF;
        margin-bottom: -8px;
        margin-bottom: -0.5rem;
        font-weight: normal;
    }
}

@media screen and (max-width: 768px) {
    .table_definition {
        display: none;
    }

    .main_search_bar {
        max-width: 95%;
        width: 100%;
    }

    .main_search_button {
        /*+border-radius: 0;*/
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        padding: 8px;
        padding-top: 7.5px;
    }

    .uikit-responsive-media-img {
        width: 100px;
        float: left;
        padding-bottom: 20px;
    }

    .sbr_footer_logo {
        width: 60px;
        padding-left: 15px;
    }

    .footer-phrase {
        clear: both;
    }

    .search_help {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero_header h1 {
        position: relative !important;
        top: 2vw;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: x-large;
    }

    .hero_logo {
        display: block !important;
        max-width: 40vw !important;
    }

    .au-main-nav {
        z-index: 100;
        position: relative;
        /*margin-bottom: -60px !important;*/
    }

    .hero_header .au-main-nav .githubLink {
        float: left;
        width: 100%;
    }

    .au-main-nav .container {
        display: none;
    }

    .au-main-nav label {
        color: white;
        position: relative;
        left: 20px;
        display: block;
        cursor: pointer;
        width: 60px;
    }

    input:checked ~ .container {
        /* display: inline-block; */
        float: left;
        margin-bottom: -600px !important;
        background: #313131;
        width: 100%;
    }

    .main_header .hero_logo {
        border-right: none;
        width: 15rem !important;
        max-width: 15rem !important;
    }

    .main_header a {
        float: left;
        margin-top: 20px;
        clear: both;
    }

    .main_header span {
        float: left;
        margin-top: 20px;
    }

    .hero_header .au-main-nav .divider {
        display: none;
    }
}

.phase-banner {
    background-color: black;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.875rem;
}

.au-main-nav input#menu {
    /*display: none;*/
    position: absolute;
    left: -9999px;
}

input:focus + label {
    outline: 3px solid #9263DE;
    outline-offset: 2px;
}

.footer {
    background: #313131;
    color: white !important;
    border-top: none;
}

.footer-phrase {
    display: flex;
    flex-direction: column;
    /*height: 90px;*/
    padding-left: 0 !important;
    padding-top: 40px;
}

.footer .copyright {
    font-size: small !important;
    margin-top: auto !important;
    margin-left: 10px !important;
}

.footer .copyright a {
    color: white !important;
}

.footer .coat-of-arms {
    max-width: 130px !important;
    margin-left: 20px;
    padding-top: 20px;
}

.footer .joint-initiative {
    font-size: small;
    width: 200px;
    border-left: 1px solid #CCC;
    padding-left: 10px !important;
    padding: 5px;
}

.footer .joint-initiative a {
    color: white !important;
}

.footer .footer-links {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(162, 162, 162);
    padding-bottom: 40px;
    padding-top: 50px;
    margin-left: 10px !important;
}

.footer .footer-links ul {
    list-style: none;
    padding-left: 0;
}

.footer .footer-links li {
    display: block;
}

.footer .footer-links li a {
    color: white !important;
    text-decoration-color: white !important;
}

a.new_issue_link {
    color: white;
}

.error-page {
    padding-left: 10vw;
}

table {
    width: 100%;
    border-spacing: 0px 0px;
    margin: 0px 0px 30px;
    text-align: left;
    font-size: smaller;
}

tr {
    height: 70px;
    vertical-align: middle;
}

td {
    box-sizing: border-box;
    vertical-align: top;
    /*width: 57px;*/
    border-top: 1px solid rgb(221, 221, 221);
    padding: 15px 15px 15px 0px;
}

dt {
    border-top: 1px solid rgb(221, 221, 221);
}

.detail_name {
    margin-top: -30px;
    margin-bottom: 0px;
}

.pagination_controls {
    text-align: center;
    margin-left: -45px;
}

.pagination_controls .current_page {
    background-color: #F0F3F5;
}

ul.pagination_controls li a {
    display: inline-block;
    height: 27px;
    padding: 8.5px 20px 8.5px 17px;
}

ul.pagination_controls li a.next_page {
    display: inline-block;
    height: 27px;
    padding: 8.5px 20px 8.5px 17px;
}

ul.pagination_controls li {
    display: inline-block;
    margin-right: -4px;
}

.more_pages {
    width: 25px;
}

.next_page {
    display: inline-block;
    height: 27px;
    width: 75px;
    padding: 8.5px;
    /*margin-left: 4px;*/
    margin-right: -4px;
}

.page_number {
    text-align: center;
    padding-bottom: 17.5px;
}

.dss_stage_link {
    color: white !important;
}

.quick_domain_list {
    list-style-type: none;
    padding-left: 0px !important;
}

.quick_domain_list li {
    display: inline;
    white-space: nowrap;
    margin-right: 0;
    padding-right: 15px;
}

.feedback {
    width: 400px;
    display: block;
    margin: auto;
    padding: 37px;
    text-align: center;
    font-size: smaller;
}

.feedback img {
    width: 32px;
    height: 32px;
}

.feedback a {
    border-bottom: 0px;
    opacity: 0.4;
}

.feedback a:hover {
    background: white;
    cursor: pointer;
    opacity: 1;
}

body a {
    color: black !important;
    text-decoration-color: #1B7991 !important;
}

/* End - Taken from common.css */

@media screen and (max-width: 480px)
{
	DIV.indexItemContainerBody IMG
	{
		display: none;
	}
	DIV.indexItemContainerBody
	{
		width: 100%;
	}
	.indexItemContainer
	{
		border: none !important;
		width: 100% !important;
		padding-bottom: 30px !important;
	}
	.indexItemContainer:first-child
	{
		margin-top: 30px;
	}
	.indexItemBottomBar
	{
		display: none !important;
	}
	DIV.indexItemContainerBodyText
	{
		width: 100%;
	}
	DIV.indexItemContainerBodyTextContainer
	{
		width: 95%;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px)
{
	.indexItemContainer
	{
		padding: 0px;
		margin-bottom: 5px;
		margin-top: 5px;
		float: left;
		width: 100% !important;
		/* display: inline-block; */
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 10px;
	}
}

/* Start - Taken from api-gov-au-defintions */
@media screen and (max-width: 768px) {
    .table_definition {
        display: none;
    }
    
    .main_search_bar {
        max-width: 95%;
        width: 100%;
    }
    
    .main_search_button {
        /*+border-radius: 0;*/
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        padding: 8px;
        padding-top: 7.5px;
    }
    
    .uikit-responsive-media-img {
        width: 100px;
        float: left;
        padding-bottom: 20px;
    }
    
    .sbr_footer_logo {
        width: 60px;
        padding-left: 15px;
    }
    
    .footer-phrase {
        clear: both;
    }
    
    .search_help {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/* End - Taken from api-gov-au-defintions */

@media screen and (min-width: 768px)
{
	/* Start - Taken from api-gov-au-defintions */
	.table_definition {
        width: 50%;
    }
    
    .main_search_bar {
        max-width: 85%;
        width: 100%;
    }
    
    .main_search_button {
        /*+border-radius: 0;*/
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
        padding: 8px;
        padding-top: 7.5px;
        margin-left: -5px;
    }
    
    .search_help {
        padding-top: 100px;
        padding-bottom: 25px;
	}	
	/* End - Taken from api-gov-au-defintions */

	.indexItemContainer
	{
		margin-top: 5px;
		margin-bottom: 5px;
		display: flex !important;
		flex-direction: column;
	}
	.indexItemContainer:first-child
	{
		margin-right: 5px;
	}
	.itemIndexRow:first-child
	{
		margin-top: 20px;
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 40px;
	}
	.itemIndexRow
	{
		display: flex;
		width: 100%;
		height: 100%;
	}
	.indexItemBottomBar
	{
		float: bottom;
		width: 100% !important;
		margin-top: auto !important;
	}
}

/* Start - Taken from api-gov-au-defintions */
main.container {
    padding-bottom: 80px;
    padding-top: 80px;
}

dd {
    border-left: none !important;
    margin-left: 10px !important;
}

.used_synonyms p {
    margin-bottom: 0;
}

.used_synonyms {
    padding-bottom: 20px;
}

.search_help {
    width: 140px;
}

dl dl {
    margin-left: 30px;
}

.logo {
    height: 80px;
    top: 30px;
    padding-right: 10px;
    position: relative;
}

.heroline {
    padding-bottom: 0px;
    color: white;
    font-size: 1.625rem;
}

.hero_header {
    background-color: #254558;
}

nav.uikit-breadcrumbs {
    margin-bottom: 50px;
}

.phase-banner {
    background-color: #313131;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.875rem;
}

a.new_issue_link {
    color: white;
}

.error-page {
    padding-left: 10vw;
}

table {
    width: 100%;
    border-spacing: 0px 0px;
    margin: 0px 0px 30px;
    text-align: left;
    font-size: smaller;
}

tr {
    height: 70px;
    vertical-align: middle;
}

td {
    box-sizing: border-box;
    vertical-align: top;
    width: 57px;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 15px 15px 15px 0px;
}

dt {
    border-top: 1px solid rgb(221, 221, 221);
}

.detail_name {
    margin-top: -30px;
    margin-bottom: 0px;
}

.pagination_controls {
    text-align: center;
    margin-left: -45px;
}

.current_page {
    background-color: #F0F3F5;
}

ul.pagination_controls li a {
    display: inline-block;
    height: 27px;
    padding: 8.5px 20px 8.5px 17px;
}

ul.pagination_controls li a.next_page {
    display: inline-block;
    height: 27px;
    padding: 8.5px 20px 8.5px 17px;
}

ul.pagination_controls li {
    display: inline-block;
    margin-right: -4px;
}

.more_pages {
    width: 25px;
}

.next_page {
    display: inline-block;
    height: 27px;
    width: 75px;
    padding: 8.5px;
    /*margin-left: 4px;*/
    margin-right: -4px;
}

.page_number {
    text-align: center;
    padding-bottom: 17.5px;
}

.dss_stage_link {
    color: white !important;
}

.quick_domain_list {
    list-style-type: none;
    padding-left: 0px !important;
}

.quick_domain_list li {
    display: inline;
    white-space: nowrap;
    margin-right: 0;
    padding-right: 15px;
}

.filterBox {
    padding: 4px 8px 8px;
    /*+border-radius: 0;*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    height: 23px;
}

.filterBox > a {
    cursor: pointer;
    display: inline-block;
}

.filterBox + input {
    display: none;
    /* hide the checkboxes */
}

.filterBox + input + div {
    display: none;
}

.filterBox + input:checked + div {
    display: block;
}

.filter_button {
    /*+border-radius: 0;*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -5px;
    background: #1B7991;
}

.filter_button:hover {
    background: #135566;
}

.filterContent {
    max-width: 100%;
    width: calc(100% - 6px);
    border-top: 2px solid #1B7991;
    padding-bottom: 1px;
    background-color: #DBE8F0;
    border-radius: 0px 0px 10px 10px;
}

.filterContentListNormal {
    list-style-type: none;
    background-color: none;
}

.filterContentListNormal li {
    list-style: none;
    float: none;
    padding-right: 10px;
}

.filtercontentList ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.filtercontentList ul li {
    float: left;
    list-style-type: none;
}

.filterTagList ul {
    list-style-type: none;
    padding-top: 2px;
}

.filterTagList li {
    background-color: #E6F3FF;
    border-radius: 1px;
    color: black;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.filterTagList input {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: pointer;
    display: none;
}

.filterTagList a {
    text-decoration: none !important;
    text-decoration-color: white;
    background: none !important;
    color: #808080;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: default;
}

.filterTagList a:hover {
    text-decoration: none;
    color: #808080;
}

.filterContent .filtercontentList {
    list-style-type: none;
}
/* End - Taken from api-gov-au-defintions */

.indexItemContainer
{
	width: calc(50% - 20px);
	margin-right: 20px !important;
	display: inline-block;
	vertical-align: top;
	/*min-height: 110px;*/
	background: #FFFFFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
.indexItemContainerBodyText
{
	text-align: left;
	overflow: auto;
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
.indexItemContainerBody
{
	padding: 0.01em 5px;
	min-height: 100px;
}
.indexItemContainerBody > STRONG
{
	display: block;
}
.indexItemContainerBody > IMG
{
	padding: 10px;
	float: left;
	/* display: inline-block; */
	width: 120px !important;
	margin-top: 0px !important;
}
.indexItemContainerBodyTextContainer
{
	overflow: hidden;
	width: calc(100% - 160px);
	padding-left: 10px;
	font-size: 15px;
}
/* highlights for BETA services*/
.betaService.indexItemBottomBar
{
    background:#ef6a30;
    border-color:#ef6a30;
}
.betaService.indexItemContainer
{
    border-color:#ef6a30;
}

/* CSS Ribbon */
.ribbon_parent {
  overflow: hidden; /* required */
  
  width: 50%; /* for demo only */
  margin: 25px auto; /* for demo only */
  position: relative; /* required  for demo*/
}

.ribbon {
  margin: 0;
  padding: 0;
  background: #ef6a30;
  color:white;
  padding:0.5em 0;
  position: absolute;
  top:-10px;
  right:-10px;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: #ef6a30;
}
.ribbon:before {
  right:100%;
}

.ribbon:after {
  left:100%;
}














.indexItemBottomBar
{
	background: #EEE;
	/*max-height: 40px;*/
	font-size: 12px;
	width: 100%;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	z-index: 0;
	padding: 0px;
	margin: -1px;
	bottom: 0;
	display: block;
	margin-top: 10px;
	float: left;
}
.indexItemBottomBar UL
{
	list-style-type: none;
	display: inline-block;
	margin-bottom: 0px !important;
	padding-left: 10px;
}
.indexItemBottomBar UL LI
{
	padding: 0.01em 1px;
	margin: 0px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
.indexItemBottomBar UL LI:last-child
{
	border-right: none;
}
.indexItemList
{
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	align-content: center;
	width: 100%;
}
.indexItemBottomBar UL LI DIV
{
	display: inline-block;
}
.api_data IMG
{
	max-width: 100%;
}
:target
{
	outline: 0px !important;
}
.api_nav P
{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
}
.api_nav LI
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: smaller;
}
.api_data
{
	border-left: 1px solid lightgray;
	margin-left: -1px;
}
.api_nav
{
	border-right: 1px solid lightgray;
}
.api_data H2
{
	margin-bottom: 0px;
}
.apiname
{
	margin-top: 50px !important;
	margin-bottom: 40px !important;
	font-size: xx-large !important;
}
BLOCKQUOTE
{
	background-color: lightgray;
	width: 100%;
	margin: 0px;
}
CODE
{
	/*background: lightgray;*/
	font-style: italic;
	color: darkred;
	padding: 4px;
	padding-right: 8px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	.uikit-footer
	{
		border-top: 0px !important;
	}
	.ie_footer_hook
	{
		background-color: #313131;
		height: 130px;
		border-top: 6px solid #555;
		padding-top: 20px;
	}

    .ie_global_footer_hook
    {
        background: white !important;
        border-bottom: 200px solid rgb(49, 49, 49);
        padding-bottom: 0px;
        width:93.1%;
        margin-left:2%
    }

}
.detail_pagination
{
	padding-top: 10px;
	margin-top: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #EEE;
	border-top: 1px solid lightgray;
}
.detail_pagination A
{
	text-decoration: none;
}
.detail_pagination .prev_detail_page
{
	float: left;
	padding: 20px;
	width: 35%;
}
.detail_pagination .next_detail_page
{
	float: right;
	padding: 20px;
	text-align: right;
	width: 35%;
}
.page_nav_label
{
	font-size: x-large;
	margin-top: -15px;
}
.page_nav_title
{
	font-size: smaller;
}
.next_detail_page .page_nav_label::after
{
	content: ' >';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.prev_detail_page .page_nav_label::before
{
	content: '< ';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.api_nav .current_page
{
	background: #313131;
	padding-left: 10px;
}
.api_nav .current_page A
{
	color: white !important;
}
.api_data TD
{
	padding: 0px !important;
	margin: 0px !important;
}
.api_data TR
{
	height: 20px;
}
.api_data H4
{
	background: #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.tier
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.tier:first-child
{
	padding-top: 100px;
}
.tier:last-child
{
	padding-bottom: 100px;
}
.intro__text EM
{
	font-size: larger;
	font-style: normal;
}
.intro__img IMG
{
	max-width: 90%;
}
.last_edit
{
    font-style: italic;
    text-align: right;
    color: #666666;
    font-size: small;
}
/* developer hub styles */

@media screen and (max-width: 768px)
{
}
@media screen and (min-width: 768px)
{
	.section__head
	{
		padding-bottom: 0px !important;
	}
	.section__title
	{
		max-width: 300px;
		border-bottom: 2px solid black;
		vertical-align: bottom !important;
		height: 50px;
		padding-top: 50px !important;
	}
	.section__titleLink
	{
		text-decoration: none !important;
		color: black !important;
		vertical-align: top;
	}
	.section__titleLink > .section__title:after
	{
		content: '\00a0\00a0>';
		font-family: '"Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;';
	}
	.section__titleLink:hover
	{
		text-decoration: underline !important;
		color: #089194 !important;
	}
	.section__topiclist
	{
		margin-top: 0px;
	}
	.jumbo
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.section__topiclist
{
	list-style: none;
	padding-left: 10px;
}
.section__topic:before
{
	content: '>';
	padding-right: 5px;
}
.section__head
{
	padding-bottom: 20px;
	padding-top: 20px;
}
.section__title
{
	margin-top: 20px;
}
.section__title__underline
{
	text-decoration: underline;
}
.section__subtext
.section__subtext
{
	margin-top: 0px !important;
    text-decoration: none !important;
}
/**/
.dashboardHeader
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.dashboardHeader__title__logo
{
    height:100px !important;
}
.dashboardHeader__title
{
	width: 350px;
	float: left;
}
.dashboardHeader__body
{
	clear: both;
	padding-top: 18px;
	padding-bottom: 35px;
}
.dashboardHeader__overview
{
	font-weight: bold;
	padding-right: 10px;
}
.dashboardHeader__widgets
{
	float: right;
	padding-right: 20px;
}
.dashboardWidget__icon
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.dashboardWidget__count
{
	font-size: smaller;
	color: black;
	background: #61DAFF;
	font-weight: bold;
	/*+border-radius: 20px;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	display: inline;
	padding: 4px 6px 4px 5px;
}
/**/

.popularItems__head
{
	border-bottom: 1px solid black;
	font-weight: bold;
}
.popularItems__headTitle
{
	display: inline;
}
.popularItems__headMore
{
	float: right;
}
.popularItems__headMore:after
{
	content: '\00a0>';
}
.popularItem
{
	border-bottom: 1px solid black;
	padding: 10px;
}
.popularItem:last-child
{
	border-bottom: none;
}
.popularItem__title
{
	font-weight: bold;
}
.popularItem__title:after
{
	content: '\00a0>';
}
.popularItem__date
{
	font-style: italic;
	font-size: smaller;
}
/**/
.callToAction
{
	padding-top: 20px;
	padding-bottom: 50px;
}
/**/
.servicesList
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.digitalService
{
	border: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

#conversations {
    margin-top: 25px;
}

#conversations input.toggle {
    position: absolute;
    left: -9999px;
}

#conversations div.conversation {
    display: none;
    overflow-wrap: break-word;
}

#conversations #toggle-issue:checked ~ ul div[data-labels ~= "issues"] {
    display: block;
}

#conversations #toggle-pull-request:checked ~ ul div[data-labels ~= "pulls"] {
    display: block;
}

#conversations #toggle-issue:checked ~ ul li.issue {
    background-color: #00698F;
    color: #FFF;
}

#conversations #toggle-pull-request:checked ~ ul li.pull-request {
    background-color: #00698F;
    color: #FFF;
}

.conversation {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 6px;
    min-height: 125px;
}

.conversation h5 {
    margin-top: 6px;
    margin-bottom: 4px;
}

.conversation p {
    margin: 0px;
}

ul.conversation-list {
    padding: 0px;
    list-style-type: none;
}

#conversations #toggle-issue ~ ul div.issue-active {
    display: none;
}

.conversation .conversation-content {
    padding: 10px;
}

#conversations #toggle-issue ~ ul div.issue-inactive {
    color: black;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-issue:checked ~ ul div.issue-active {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-issue:checked ~ ul div.issue-inactive {
    display: none;
}

#conversations #toggle-pull-request ~ ul div.pull-request-active {
    display: none;
}

#conversations #toggle-pull-request ~ ul div.pull-request-inactive {
    color: black;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-pull-request:checked ~ ul div.pull-request-active {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-pull-request:checked ~ ul div.pull-request-inactive {
    display: none;
}

#conversations .conversation .user-info {
    margin-left: 10px;
    border: 2px solid #f5f5f0;
    border-radius: 5%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#conversations .conversation img {
    border-radius: 50%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-top: 4px;
}

#conversations .conversation .au-tags {
    text-align: right;
}

#conversations .conversation .au-tags li {
    white-space: nowrap;
}

.comment {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 6px;
    min-height: 125px;
}

.community__nopad{
    padding-top:0px !important;
}

/* Start - DTA Feedback implementation */
.section{
    background-color:white;
}

.section--dark{
    background-color:#eee;
}

.landing__cards{
    padding-bottom:20px;
}

.landing__cards .au-card__title{
    text-align:center;
}

.section--dark.landing__cards .au-card__title h4{
	color: #00678f;
}

.landing__cards .au-card{
    border:none;
}

.section--dark.landing__cards .au-card__title A{
    text-decoration:underline !important;
    text-decoration-color: rgb(27, 121, 145) !important;
}

.section.landing__cards .au-card__title A{
    text-decoration:none;
}
/* End - DTA Feedback implementation */

.decommission {
    background: ghostwhite;
    border-width: 5px;
    border-style: ridge;
    border-radius: 7px;
    padding: 10px;
    color: red;
    position: fixed;
    top: 20px;
    z-index: 1000;
    transform: translate(-50%, -20px);
    left: 50%;
}

.decommission a {
    text-decoration: underline;
    color: black !important;
}
